[Unit]
Description=SACIot service
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/iot/SACI2cIotSlave/SACRPiIotSlave
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=SACIotSlave
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target